@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');



html{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    text-align:center;
    color:black;
    background-image:URL("../images/forest.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.8;
}

h2{
    color:black;
    font-family: garamond;
    margin-top:0rem;
}


body{
    margin:0 12.5% 0 12.5%;
    
}

header{
    
    visibility:visible;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    height:7rem;
    z-index:100;
    color:white;
    background-color: #895ac2;
    margin-top:2rem;
    padding: 0 5%;
}

header h1{

    padding-top:1.5rem;
    font-family: garamond;
}
nav{
    background-color:#895ac2;
    width:100%;
}

ul li{
    display:inline;
    padding-left:1rem;
}

a:link{
    text-decoration: underline;
    color:white;
}

a:hover{
    text-decoration: underline;
    color:white;
    font-weight: bold;
}

a:visited{
    text-decoration: underline;
    color:white;
    
}

.intro{
    position: relative;
    
    padding: 1rem 5% 1rem 5%;
    background-color:white;
   
}

.sectiontitles{
    background-color: #895ac2;
    margin:0;
    padding: 1rem 0;
    color:white;
}

footer{
    text-align:left;
    background-color:#895ac2;
    color: white;
    font-size: 0.75rem;
       
}

footer p{
    margin:0 1rem;
    padding: 1rem 0 1rem;
}

@media only screen and (min-width:640px){
    .projectname{
        height: 6rem;
        width:6rem;
        background-image:URL("../images/filler.png");
        background-repeat: no-repeat;
        background-size:contain;
        margin: 1rem 0.5rem 0 0.5rem;
        padding:1rem;
        
    }



    #sections{
        
        padding: 0 5% 1rem 5%;
        background-color:white;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        
    }

    .projecttitle{
        margin-top:1.5rem;
    }
}
    
@media only screen and (max-width:639px){   
    header h1{
        padding-top:12.5%;
        font-size:1.5rem;
    }

    .projectname{
        height: 6rem;
        width:6rem;
        background-image:URL("../images/filler.png");
        background-repeat: no-repeat;
        background-size:contain;
        margin: 1rem 0.5rem 0 0.5rem;
        padding:1rem;
        
    }
    
    #sections{ 
        padding: 0 5% 1rem 5%;
        background-color:white;
        display:grid;       
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;     
    }

    .projecttitle{
        margin-top:1.5rem;
    }
}
    
@media only screen and (max-width:419px){  
    .projectname{
        height: 1rem;
        width:75%;
        background-image:none;
        background-repeat: no-repeat;
        background-size:contain;
        /*margin: 1rem 0.5rem;*/
        padding:1rem;
        
    }
    
    #sections{      
        padding: 0 5% 1rem 5%;
        background-color:white;
        display:grid;
        grid-template-columns: 1fr;
        justify-items: center;          
     }

     .projecttitle{
        margin:0
    }
}

/* movie */

.movie{
    display:none;
}

#moviesections{
    padding: 0 5% 1rem 5%;   
    background-color:black;
}

#death{
    visibility: hidden;
}

#rob{
    visibility: hidden;
}

.charname{
    font-weight:bolder;
}

#shadowbutton{
    width:100%;
    height:auto;
    display:inline-block; 
}

#btn{
    position:relative;
    width:12.5rem;
    height: 3.125rem;
    margin: 2rem 0 1rem;
    border:0;
    padding:0;
    font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
    font-size:1rem;
} 

#btntxt{
    z-index:1;
    padding-bottom:1rem;
    position:absolute;
    top:1rem;
    bottom:0;
    left:0;
    right:0;
}

@media only screen and (min-width:1000px){
    .character{
        width:25%;
        display:inline;
    }

    .character img{
        height: 12.5rem;
        width:12.5rem;
        padding:1rem 0 0;
    }

    .dialogue{
        width:75%;
        font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        color: #efe5d5;
        margin-top:1rem;
        text-align: left;
    }

    .dialogue p{
        margin-left:2rem;
        color:white;
    }

    #char1container{
        display:flex;
        flex-flow:wrap;
    }

    #char2container{
        display:flex;
        flex-flow:wrap;
        }
    }

@media only screen and (max-width:999px){
    .character{
        width:25%;
        display:inline;
    }
    
    .character img{
        height: 6.5rem;
        width:6.5rem;
        padding:1rem 0 0;
        margin-top:1rem;
    }

    .dialogue{
        width:75%;
        font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
        font-size: 1.25rem;
        color: #efe5d5;
        margin-top:1rem;
        text-align: left;
    }
    
    .dialogue p{
        margin-left:2rem;
        color:white;
    }

    #char1container{
        display:flex;
        flex-flow:wrap;
    }
    
    #char2container{
        display:flex;
        flex-flow:wrap;
    }
    
}

@media only screen and (max-width:550px){
    .character{
        /*width:25%;*/
        display:inline;
    }
    
    .character img{
        height: 6.5rem;
        width:6.5rem;
        padding:1rem 0 0;
        margin-top:1rem;
    }

    .dialogue{
        /*width:75%;*/
        font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
        font-size: 1rem;
        color: #efe5d5;
        margin-top:1rem;
        text-align: left;
    }
    
    .dialogue p{
        margin-left:1rem;
        color:white;
    }
   

    #char1container{
        display:flex;
        flex-flow:wrap;
        flex-direction:column;
    }
    
    
    #char2container{
        display:flex;
        flex-flow:wrap;
        flex-direction:column;
    }
}

/*password cracker*/

#gameboard{
    background-color:white;
}

#skynettitle{
    margin:0;
    padding:1rem 0 1rem;
}

#skynet{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom:2rem;
}

.circle{
    height: 3rem;
    width: 3rem;
    border: 0.125rem solid black;
    border-radius:50%;
}

.circleP{
    height: 3rem;
    width: 3rem;
    border: 0.125rem solid black;
    border-radius:50%;
    margin:0.5rem 0.5rem
}

.turn{
display:flex;
flex-wrap:wrap;
align-items: center;
justify-content:center;

}

